h1 {
    color:  whitesmoke;
    text-align: center;
}
h2 {
    color: whitesmoke;
    text-align: center;
}
.color {
    color: whitesmoke;
}
a {
    text-align: center;
}
body {
    background-image: url(bitcoin-anonymous.jpg);
}